* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 360px;
  height: 379px;
  background-color: #0b2434;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 320px;
  height: 320px;
  background-color: #f5f5f5;
  border-radius: 10px;
}